* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.alkaline-earth-metals {
    grid-area: 2 / 2 / 3 / 2;
    background-color: orange;
}

.alkali-metals {
    grid-area: 2 / 1 / 2 / 1;
    background-color: greenyellow;
}

.blank-1 {
    border: solid 1px green;
    grid-area: 1 / 2 / 2 / 18;
}


.blank-2 {
    border: solid 1px green;
    grid-area: 2 / 3 / 2 / 13;
}

.element:hover {
    background-color: teal;
}

.blank-3 {
    border: solid 1px green;
    grid-column-start: 3;
    grid-column-end: 13;
}

body {
    background-color: rgba(233, 233, 233, 0.603);
    min-height: 100%;
}

.element {
    color: red;
    border: solid 1px red;
    height: 50px;
}

.pt-container {
    border: solid 1px black;
    display: grid;
    grid-template-columns: repeat(18, 5.5%);
    grid-template-rows: repeat(7,14.28% );
    height: auto;
    margin: 20px auto;
    width: 80%;
}

.pt-lant {
    border: solid 1px black;
    display: grid;
    grid-template-columns: repeat(14, 7.14%);
    grid-template-rows: repeat(2, 5.5%);
    height: auto;
    margin: 30px auto;
    width: 60%;
}

.rare-elements {
    grid-area: 3 / 3 / 4 / 3;
    background-color: yellow;
}

.title {
    color: red;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
