* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.actinoid {
    background-color: whitesmoke;
}

.alkali-metal {
    background-color: DarkMagenta;
}

.alkaline-earth-metal {
    background-color: Crimson;
}

article {
    align-content: center;
    border: solid 2px lightslategray;
    display: flex;
    flex-flow: column;
    height: 80px;
}

article:hover {
    transform: scale(2);
    transition: all 0.3s;
    z-index: 2;
}

.blank-1 {
    grid-area: 1 / 2 / 2 / 18;
}

.blank-2 {
    grid-area: 2 / 3 / 2 / 13;
}

.blank-3 {
    grid-column-start: 3;
    grid-column-end: 13;
}

body {
    background-color: lightslategray;
    min-height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.electron-shell {
    font-size: 50%;
}

h1 {
    text-align: center;
    color: white;
}

h1::first-letter {
    text-transform: capitalize;
}

.lanthanoid {
    background: silver;
}

.metalloid {
    background-color: lime;
}

.name {
    font-size: 80%;
}

.nbr {
    text-align: start;
    position: absolute;
}

.noble-gas {
    background-color: #0ebeff
}

.other-nonmetal {
    background-color: limegreen;
}

p {
    text-align: center;
    color: white;
}

p::first-letter {
    text-transform: capitalize;
}

.post-transition-metal {
    background-color: mediumturquoise;
}

.pt-container {
    display: grid;
    grid-template-columns: repeat(18, 5.5%);
    grid-template-rows: repeat(7,14.28% );
    height: auto;
    margin: 20px auto;
    width: 80%;
}

.pt-lant {
    display: grid;
    grid-template-columns: repeat(14, 7.14%);
    grid-template-rows: repeat(2, 50%);
    height: auto;
    margin: 30px auto;
    width: 60%;
}

.symbol {

}

.title {
    color: red;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.transition-metal {
    background-color: orange;
}

.unknown {
    background-color: thistle;
}