* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.actinoid {
    background-color: rgb(51, 51, 51);
}

.alkali {
    background-color: DarkMagenta;
}

.alkaline {
    background-color: Crimson;
}

.atomic-weight {
    font-size: 0.5rem;
}

.blank-1 {
    grid-area: 1 / 2 / 2 / 18;
}

.blank-2 {
    grid-area: 2 / 3 / 2 / 13;
}

.blank-3 {
    grid-area: 3 / 3 / 3 / 13;
}

.blank-4 {
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 3;
}

body {
    background-color: rgb(54, 62, 70);
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    justify-content: space-between;
    align-content: center;
    border: solid 2px rgb(54, 62, 70);
    border-radius: 3px;
    display: flex;
    flex-flow: column;
    height: 80px;
}

button:hover {
    border: solid 1px white;
    transform: scale(1.5);
    transition: all 0.3s;
    z-index: 2;
}

.electron-shell {
    font-size: 0.4rem;
}

h1 {
    text-align: center;
    color: white;
}

h1::first-letter {
    text-transform: capitalize;
}

.halogen {
    background-color: darkolivegreen;
}

.lanthanoid {
    background: rgb(90, 89, 89);
}

.metal {
    background-color:indianred;
}

.metalloid {
    background-color: lime;
}

.name {
    font-size: 0.5rem;
}

.nbr {
    color: white;
    position: absolute;
    text-align: start;
    font-size: 0.8rem;
}

.noble {
    background-color: #0ebeff;
}

.nonmetal {
    background-color:forestgreen;
}

.other-nonmetal {
    background-color: rgb(46, 184, 46);
}

p {
    text-align: center;
    color: white;
}

p::first-letter {
    text-transform: capitalize;
}

.post-transition {
    background-color: mediumturquoise;
}

.periodicTable {
    display: grid;
    grid-template-columns: repeat(18, 5.5%);
    grid-template-rows: repeat(7,14.28% );
    height: 80%;
    margin: 20px auto;
    width: 80%;
}

.ptLant {
    display: grid;
    grid-template-columns: repeat(15, 7.14%);
    grid-template-rows: repeat(2, 50%);
    height: auto;
    margin: 30px auto;
    width: 60%;
}

.repo {
    font-size: 1rem;
}

.symbol {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.transition {
    background-color:chocolate;
}